{% load static %}

<footer class="footer" style="background-color: #95C270; color: #1A1A1A !important;">
  <style>
    .footer, 
    .footer p, 
    .footer h2, 
    .footer a, 
    .footer i {
      color: #ffffff !important;
    }
  </style>

  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-6 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <img
                src="{% static 'HealthStack-System/images/Normal/footer_logo1.png' %}"
                alt="logo"
                style="width: 200px; height: auto;"
              />
            </div>
            <div class="footer-about-content">
              <p>
Mahima Medicare is a polyclinic. A polyclinic is a type of healthcare facility that provides a wide range of medical services for outpatients, typically under one roof. It offers home assistance to patients requiring post-emergency care. It helps in monitoring, tracking, and improving patient care 24x7. It has doctors, paramedics, and well-designed infrastructure for treatment. You may enter with worries, but you will leave with wellness. That is our commitment. Mahima Medicare is "Your Health Partner."              </p>
              <br>
              <div class="social-icon">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/share/16vgeD3fZd/" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/mahima_medicare/?utm_source=qr&igsh=MWVvcDNzMGF2cjQ5NQ%3D%3D#" target="_blank">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Contact Us</h2>
            <div class="footer-contact-info">
              <div class="footer-address">
                <span><i class="fas fa-map-marker-alt"></i></span>
                <p>
                  Mahima Medicare Bakoliya,Bajar,Orti,Cuttack,Barasahi,Odisha 754209
                </p>
              </div>
              <p>
                <i class="fas fa-phone-alt"></i>
                +91 8763814619
              </p>
              <p>
                <i class="fas fa-phone-alt"></i>
                +91 78469 84225
              </p>
              <p class="mb-0">
                <i class="fas fa-envelope"></i>
                mahimamedicare01@gamil.com
              </p>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

</footer>
